<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/mat-elements/mat-icons/action.html">
<link rel="import" href="../../bower_components/mat-elements/mat-icons/image.html">
<link rel="import" href="../../bower_components/mat-elements/mat-icon-button.html">
<link rel="import" href="../../bower_components/mat-elements/mat-button.html">
<link rel="import" href="../../bower_components/mat-elements/mat-text-field.html">
<link rel="import" href="../../bower_components/mat-elements/mat-option.html">
<link rel="import" href="../../bower_components/mat-elements/mat-dropdown.html">
<link rel="import" href="../../bower_components/mat-elements/mat-checkbox.html">
<link rel="import" href="../../bower_components/mat-elements/mat-text-area.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-icons.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-th-content.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api.html">

<dom-module id="edit-target">
	<template>
		<style is="custom-style">
			mat-button {
				border: 1px;
				border-style: groove;
				margin: 4px;
				background-color: whitesmoke;
			}
			paper-datatable-api {
                                --paper-datatable-api-horizontal-padding: 8px;
				--paper-datatable-api-tr-selected-background: lightgrey;
				--paper-datatable-api-tr-odd-background-color: ghostwhite;
				--paper-datatable-api-tr-even-background-color: snow;
			}
		</style>
		<div>
			<mat-button id="new-target-button" data='{"type":"new"}' label="new target"></mat-button>
		</div>
		<div>
			<paper-datatable-api id="edit-target-datatable" data=[]>
				<paper-datatable-api-column sortable header="Name" property="name">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Protocol" property="protocol">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Destination" property="dest">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="TCP TLS" property="tcpTls">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Http Method" property="httpMethod">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="HTTP Status List" property="httpStatusList">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Regexp" property="regexp">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Response Size" property="resSize">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Retry" property="retry">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Retry Wait" property="retryWait">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Timeout" property="timeout">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Watch Interval" property="watchInterval">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Edit" property="edit">
					<template>
						<span><mat-icon-button data='{"type":"edit", "name":"{{value}}"}' icon="image:edit" dimmed></mat-icon-button></span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Remove" property="remove">
					<template>
						<span><mat-icon-button data='{"type":"remove", "name":"{{value}}"}' icon="action:delete" dimmed></mat-icon-button></span>
					</template>
				</paper-datatable-api-column>
			</paper-datatable-api>
		</div>

		<paper-dialog id="edit-target-modal" label="edit target">
			<div>
				<div>
					<mat-text-field label="Target name" readonly float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-dropdown label="Protocol" float-disabled inline>
						<mat-option value="icmp" label="icmp"></mat-option>
						<mat-option value="tcp" label="tcp"></mat-option>
						<mat-option value="tcpRegexp" label="tcpRegexp"></mat-option>
						<mat-option value="http" label="http"></mat-option>
						<mat-option value="httpRegexp" label="httpRegexp"></mat-option>
					</mat-dropdown>
				</div>
				<div>
					<mat-text-field label="Destination" float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-checkbox label="Use TLS by TCP"></mat-checkbox>
				</div>
				<div>
					<mat-dropdown label="HTTP method" float-disabled inline>
						<mat-option value="GET" label="GET"></mat-option>
						<mat-option value="HEAD" label="HEAD"></mat-option>
					</mat-dropdown>
				</div>
				<div>
					<mat-text-area label="HTTP status list" float-disabled inline></mat-text-area>
				</div>
				<div>
					<mat-text-field label="Regexp" float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-text-field label="Response Size" number  float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-text-field label="Retry" number float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-text-field label="Retry wait"  number float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-text-field label="timeout" number float-disabled inline></mat-text-field>	      
				</div>
				<div>
					<mat-checkbox label="TLS skip verify"></mat-checkbox>
				</div>
				<div>
					<mat-text-field label="Watch interval"  number float-disabled inline></mat-text-field>	      
				</div>
			</div>
			<mat-button id="edit-target-dialog-ok" data='{"type":"edit-ok"}' slot="actions" action="toggle" label="ok" target="edit-target-modal"></mat-button>
			<mat-button id="edit-target-dialog-cancel" slot="actions" action="toggle" label="cancel" target="edit-target-modal"></mat-button>
		</paper-dialog>

		<iron-ajax id="get-config-ajax"
	  	    with-credentials
		    url="./api/config"
		    method="GET"
		    handle-as="json"
		    on-response="_response"
		    on-error="_error">
		</iron-ajax>
	</template>
	<script>
		class editTarget extends Polymer.Element {
			static get is() {return 'edit-target'}
			ready() {
				super.ready();
				this.shadowRoot.querySelector("#edit-target-datatable").setProperties({"positionSortIcon" : "right"});
				this.addEventListener('xp-activate', this._click);
			}
			refresh() {
				console.log("refresh");
				this.shadowRoot.querySelector("#get-config-ajax").generateRequest();
			}
			_click(e) {
				console.log("_click");
				if (e.detail.data == undefined || e.detail.data == null) {
					return
				}
				var data = JSON.parse(e.detail.data);
				console.log(data);
				if (data.type == "new") {
					console.log("new");
					//this.shadowRoot.querySelector("#edit-target-modal").setProperties({"active" : true});
					this.shadowRoot.querySelector("#edit-target-modal").open();
				} else if (data.type == "edit") {
					console.log("edit");
					//this.shadowRoot.querySelector("#edit-target-modal").setProperties({"active" : true});
					this.shadowRoot.querySelector("#edit-target-modal").open();
				} else if (data.type == "edit-ok") {
					console.log("edit-ok");
				} else if (data.type == "remove") {
					console.log("remove");
				}	
			}
			_response(e) {
				console.log("response");
				var newData = [];
				for (var key in e.detail.xhr.response.watcher.targetMap) {
					var target = e.detail.xhr.response.watcher.targetMap[key];
					newData.push({
						name: key,
						protocol: target.protocol,
						dest: target.dest,
						tcpTls: target.tcpTls,
						httpMethod: target.httpMethod,
						httpStatusList: target.httpStatusList,
						regexp: target.regexp,
						resSize: target.resSize,
						retry: target.retry,
						retryWait: target.retryWait,
						timeout: target.timeout,
						tlsSkipVerify: target.tlsSkipVerify,
						watchInterval: target.watchInterval,
						edit: key,
						remove: key 
					});

				}
				console.log(newData);
				this.shadowRoot.querySelector("#edit-target-datatable").setProperties({"data" : newData});
			}
			_error(e) {
				console.log("error");
				console.error(e);
			}
		}
		customElements.define(editTarget.is, editTarget);
	</script>
</dom-module>
