<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/mat-elements/mat-icons/editor.html">
<link rel="import" href="../../bower_components/mat-elements/mat-icon-button.html">
<link rel="import" href="../../bower_components/mat-elements/mat-button.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-icons.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-th-content.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="../../bower_components/paper-datatable-api/paper-datatable-api.html">


<dom-module id="edit-target">
	<template>
		<style is="custom-style">
			mat-button {
				border: 1px;
				border-style: groove;
				margin: 4px;
				background-color: whitesmoke;
			}
			paper-datatable-api {
                                --paper-datatable-api-horizontal-padding: 8px;
				--paper-datatable-api-tr-selected-background: lightgrey;
				--paper-datatable-api-tr-odd-background-color: ghostwhite;
			}
		</style>
		<div>
			<mat-button id="new-target-button" class="add-target" label="new target"></mat-button>
		</div>
		<div>
			<paper-datatable-api id="edit-target-datatable" selectable=true data=[]>
				<paper-datatable-api-column sortable header="Name" property="name">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Protocol" property="protocol">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Destination" property="dest">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="TCP TLS" property="tcpTls">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Http Method" property="httpMethod">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="HTTP Status List" property="httpStatusList">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Regexp" property="regexp">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Response Size" property="resSize">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Retry" property="retry">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Retry Wait" property="retryWait">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Timeout" property="timeout">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="Watch Interval" property="watchInterval">
					<template>
						<span>{{value}}</span>
					</template>
				</paper-datatable-api-column>
				<paper-datatable-api-column header="" property="">
					<template>
						<span><mat-icon-button icon="editor:mode-edit" dimmed></mat-icon-button></span>
					</template>
				</paper-datatable-api-column>
			</paper-datatable-api>
		</div>
		<iron-ajax id="get-config-ajax"
	  	    with-credentials
		    url="./api/config"
		    method="GET"
		    handle-as="json"
		    on-response="_response"
		    on-error="_error">
		</iron-ajax>
	</template>
	<script>
		Polymer({
			is: 'edit-target',
			listeners: {
			    'xp-activate': '_click'
			},
			refresh: function(e) {
				console.log("refresh");
				this.shadowRoot.querySelector("#get-config-ajax").generateRequest();
			},
			_click: function(e) {
				console.log("click");
				console.log(e);
			},
			_response: function(e) { 
				console.log("response");
				var newData = [];
				for (key in e.detail.xhr.response.watcher.targetMap) {
					var target = e.detail.xhr.response.watcher.targetMap[key];
					newData.push({
						name: key,
						protocol: target.protocol,
						dest: target.dest,
						tcpTls: target.tcpTls,
						httpMethod: target.httpMethod,
						httpStatusList: target.httpStatusList,
						regexp: target.regexp,
						resSize: target.resSize,
						retry: target.retry,
						retryWait: target.retryWait,
						timeout: target.timeout,
						tlsSkipVerify: target.tlsSkipVerify,
						watchInterval: target.watchInterval
					});

				}
				console.log(newData);
				this.shadowRoot.querySelector("#edit-target-datatable").data = newData;
				this.shadowRoot.querySelector("#edit-target-datatable").positionSortIcon = "right";
			},
			_error: function(e) {
				console.log("error");
				console.error(e);
			}
		});
	</script>
</dom-module>
