<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="./bower_components/webcomponentsjs/webcomponents-loader.js"></script>
		<link rel="import" href="./bower_components/polymer/polymer.html">
	</head>
	</body>


	<div>

	    <h2>Login</h2>
	    <font color="red">{{.Message}}</font><br>
	    <form method="POST" action="./login">
		Username
		<input name="username" type="text" placeholder="Username" required> 
		Password
		<input name="password" type="password" placeholder="Password" required>
		<br>
		<button type="submit">Login</button>
	    </form>
        </div>


	<body>
</html>
